.menu{
    -fx-background-color: #606060;
    -fx-padding: 4px 1px 2px 1px;
}
.menu-header{
    -fx-padding: 0 1 2 0;
}

.menu-header-text{
    -fx-text-fill: #00b1ff;
    -fx-font-size: 3em;
}

.menu-button {
 	-fx-background-color: #C3C3C3;
 	-fx-padding: 10px 4px 10px 4px;
 	-fx-border-style: solid;
 	-fx-border-color: #C3C3C3;
 	-fx-border-width: 2px;
    -fx-background-radius: 0px;
 	-fx-transition-duration: 0.4s;
 	-fx-font-size: 1em;
 }
 .selected-menu-button {
 	-fx-background-color: #00b1ff;
 	-fx-padding: 10px 4px 10px 4px;
 	-fx-border-style: solid;
 	-fx-border-color: #00b1ff;
 	-fx-border-width: 2px;
 	-fx-background-radius: 0px;
 	-fx-transition-duration: 0.4s;
 	-fx-font-size: 1em;
 }
.menu-button:hover {
	-fx-background-color: white;
	-fx-border-style: solid;
    -fx-border-color: #C3C3C3;
    -fx-border-width: 2px;
    -fx-background-radius: 0px;
}
.selected-menu-button:hover {
	-fx-background-color: white;
	-fx-border-style: solid;
    -fx-border-color: #00b1ff;
    -fx-border-width: 2px;
    -fx-background-radius: 0px;
}

.footer{
     -fx-background-color: #404040;
     -fx-padding: 10 0 2 5;
 }
 .footer-text{
     -fx-text-fill: #aaaaaa;
 }
 .alert{
    -fx-padding: 5 10 5 10;
    -fx-background-color: #ff0000;
 }
 .alert-button{
    -fx-text-fill:black;
    -fx-font-weight:bold;
    -fx-background-color: rgba(0%,0%,0%,0);
 }
 .alert-button:hover{
    -fx-text-fill:white;
  }
  .action-button {
   	-fx-background-color: #00b1ff;
   	-fx-padding: 4px 10px;
   	-fx-border-style: solid;
   	-fx-border-color: #00b1ff;
   	-fx-border-width: 2px;
    -fx-background-radius: 0px;
   	-fx-transition-duration: 0.4s;
   	-fx-font-size: 1em;
   }
    .action-button:hover {
	-fx-background-color: white;
	-fx-border-style: solid;
    -fx-border-color: #00b1ff;
    -fx-border-width: 2px;
    -fx-background-radius: 0px;
      }
        .import-button {
         	-fx-background-color: #C3C3C3;
         	-fx-padding: 4px 10px;
         	-fx-border-style: solid;
         	-fx-border-color: #C3C3C3;
         	-fx-border-width: 2px;
          -fx-background-radius: 0px;
         	-fx-transition-duration: 0.4s;
         	-fx-font-size: 1em;
         }
          .import-button:hover {
      	-fx-background-color: white;
      	-fx-border-style: solid;
          -fx-border-color: #C3C3C3;
          -fx-border-width: 2px;
          -fx-background-radius: 0px;
            }
.form-label {
	-fx-text-fill: #00b1ff;
	-fx-underline:true;
	-fx-font-size: 1.2em;
	-fx-padding: 2px;
	-fx-font-style: italic;
}
.form-input {
	-fx-padding: 3px 5px;
		      	-fx-border-style: solid;
                  -fx-border-color: #C3C3C3;
                  -fx-border-width: 2px;
                  -fx-background-radius: 0px;

}

.form-input:focus, .form-input:hover {
	      	-fx-border-style: solid;
              -fx-border-color: #00b1ff;
              -fx-border-width: 2px;
              -fx-background-radius: 0px;
}
.form-area {
	-fx-padding: 0px;
	-fx-margin:0px;
		      	-fx-border-style: solid;
                  -fx-border-color: #C3C3C3;
                  -fx-border-width: 2px;
                  -fx-background-radius: 0px;
                  -fx-background-color: white;
}
.form-area:focus, .form-area:hover {
	      	-fx-border-style: solid;
              -fx-border-color: #00b1ff;
              -fx-border-width: 2px;
              -fx-background-radius: 0px;

}
.browser-h1{
 -fx-background-color: #dbdbdb;
 -fx-font-size: 1.5em;
-fx-text-fill: #00b1ff;
}
.browser-c1{
 -fx-background-color: #f6f6f6;
 -fx-font-size: 1.2em;
}
.browser-c2{
 -fx-background-color: #ededed;
 -fx-font-size: 1.2em;
}
.browser-info{
-fx-font-style: italic;
-fx-text-fill: #696969;
-fx-underline:true;
}
