<!-- Default pages layout -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:lang="${#locale.language}">
<head>
<meta charset="UTF-8" />
<title>Green Sun Project</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/smartHome.css}" />
<script type="text/javascript" th:src="@{/js/smartHome.js}"></script>
</head>

<body class="body">
	<header class="header">
		<span class="text" layout:fragment="header">Smart Home Layout</span>
	</header>

	<div layout:fragment="content" class="content">
		<p>Layout content</p>
	</div>
	<footer class="footer">
		<span>Green Sun Smart Home Project 2018 written by Dawid Brelak
		</span><br /> <small th:text="#{page.footer}">All right reserved.</small>
	</footer>
</body>

</html>